<template>

    <ContentRenderer :value="content"/>

</template>
<script setup>
    const route = useRoute();
    const content = await queryContent(`/projects/${route.params.slug}/${route.params.slug}/`).findOne()

</script>
<style></style>
