<template>
<header>
    <h1 class="title">
        <nuxt-link to="/">
            km0
        </nuxt-link>
    </h1>
    <nav>
        <nuxt-link to="/about">About</nuxt-link>
    </nav>
</header>
</template>

<style scoped>

header {
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

header .title {
    margin: 0;
    font-size: 1.25rem;
}

.title a {
    text-decoration: none;
}

header nav {
    margin-left: auto;
    display: flex;
    gap: 16px;
}



</style>
