<template>
<ul class="projects">
    <li class="project"
        v-for="project in projects" 
        :key="project.slug" 
    >
        <nuxt-link :to="`/projects/${project.slug}`">
            {{project.description}}
        </nuxt-link>
    </li>

    <!-- temp projects to work on layout -->
    <li class="temp project"
        v-for="project in temp.body" 
        :key="project" 
    >
        <nuxt-link to="/">
            {{project}}
        </nuxt-link>
    </li>
</ul>
</template>
<script setup>
const projects = await queryContent('/projects')
            .only(['slug', '_dir', 'description'])
            .find()
            .then(r => r.filter(project => project.slug == project._dir))

// Temp projects to work on layout
const temp = await queryContent('/notes/list').findOne()
</script>
<style></style>
