* {
    box-sizing: border-box;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

html, body {
}

body {
    font-size: 18px;
    font-family: sans-serif;
    line-height: 1.6;
}

a {
    color: currentColor;
}
